body {
  font-family: Poppins,sans-serif;
  /* position: relative; */
  background: #19181A;
  color: rgba(250,177,98,.7);
  font-size: 18px;
}

a {
  text-decoration: none;
  color: rgba(250,177,98,.7);
}

a:hover {
  color: #F7F7FF;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  background: black;
}

.nav-item {
  padding-left: 24px;
}

#first-column {
  position: relative;
}

#second-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* grid-template-rows: 1fr 1fr 1fr; */
}

#logo {
  font-size: 32px;
}

#slider-container {
  margin: auto 200px;
  min-width: 750px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image {
  /* position: relative; */
}

#right {  
  right: 0;  
  border-radius: 3px 0 0 3px;  
}  
  #left:hover, #right:hover {  
      background-color: rgba(115, 115, 115, 0.8);  
  }

img {
  margin-left: 50px;
}

.img-link:hover {
  filter: grayscale(100%);
}

.txt-overlay {
  position: absolute;
  /* position: relative; */
  max-width: 256px;
  bottom: 150px;
  /* top: 200px; */
  /* right: 100px; */
}

.big-word {
  font-size: 32px;
  font-weight: bold;
}