body {
  font-family: Avenir,Helvetica,Arial,sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* position: relative; */
  background: #19181A;
  color: rgba(250,177,98,.7);
  font-size: 18px;
}

#page-wrap {
  width: 1000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: rgba(250,177,98,.7);
}

a:hover {
  color: rgba(115, 115, 115, 0.8);
}

header {
  border-bottom: 1px solid rgba(250,177,98,.7);
  margin-bottom: 1em;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  /* padding: 18px 9px; */
}

.nav-item {
  padding-left: 24px;
}

#nav-els {
  padding: 0.2em 0 0 0;
}

#first-column {
  position: relative;
}

#second-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* grid-template-rows: 1fr 1fr 1fr; */
  /* padding-right: 226.81px; */
}

#logo {
  font-size: 32px;
}

#slider-container {
  min-width: 750px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
}

.image {
  /* position: relative; */
}

img {
  margin-left: 50px;
}

.img-link:hover {
  filter: grayscale(100%);
}

.txt-overlay {
  position: absolute;
  /* position: relative; */
  max-width: 256px;
  bottom: 150px;
  /* top: 200px; */
  /* right: 100px; */
}

.big-word {
  font-size: 32px;
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
  font-size: 12px;
}